body {
    margin-top: 170px;
    background: #eff2f7;
    font-family: 'Product Sans';
    height: 100%;
}
a{
  text-decoration: none;
  color: #353535;
  display: block;
  transition: 0.3s;
}
a:hover {
  transition: 0.3s;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 999;
}

.title {
    display: inline-block;
    float: left;
    line-height: 50px;
}

.menu {
    display: inline-block;
    float: right;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    padding: 0 20px;
    display: block;
    line-height: 50px;
}

.menu li:hover{
    background-color: #CDDC39;
}
.wrap{
  width: 80%;
  margin: 0 auto;
}
.tblmenubox {
    display: inline-block;
    float: right;
    line-height: 50px;
}
.tblmenu {
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    background: #282a36;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.tblmenubox{
  display: none;
  visibility: hidden;
}
@media screen and (max-width:800px){
  .menu{
    display: none;
  }
  .tblmenubox{
    display: block;
    visibility: visible;
  }
  .menu.sh {
    display: block;
    position: absolute;
    top: 50px;
    background: #fff;
    width: 100%;
    left: 0;
}

.menu a:hover {
    color: #fff;
    background: #353535;
}

.menu ul li {
    display: block;
    text-align: center;
}
}

.bg height:100%;
background-position:center;
background-repeat:no-repeat;
background-size:cover;

}
html {
  margin: 0;
  padding: 0;
  background: #fafafa;
}

h2 {
  margin-top: 100px;
  margin-bottom: 50px;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

h2 {
  marker-mid: 100px;
}

input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  background-image: url('img/flogo.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 80%;
}

button {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  padding: 10px 24px;
  border-radius: 10px;

}

button:hover {
  background-color: #555555;
  color: white;
}

.button {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  padding: 10px 24px;
  border-radius: 10px;

}

.button:hover {
  background-color: #555555;
  color: white;
}

.row {
  margin-top: 20px;
}

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border-color: #000
}.profile-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -25%; //centers the image
  height: 100%;
  width: 114px;
  margin-left: -10px;
  margin-top: -12px;
}

h2 {
  font-family: 'Staatliches', cursive;
  font-size: 32px;
  position: relative;
  z-index: 1;
  text-align: center;
  padding-bottom: 50px;

}

h2:after {
content: "";
position: absolute;
left: 50%;
margin-left: -120px;
bottom: 0;
width: 238px;
border-bottom: 2px solid magenta;
}

heanav {
position: fixed;
z-index: 999;
width: 100%;
top: 0px; }

.garis {
    content: "";
  position: absolute;
  left: 50%;
  margin-left: -90px;
  bottom: 0;
  width: 200px;
  border-bottom: 2px solid magenta;

}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
